* {
    box-sizing: border-box;
}

body {
    background-color: #282c34;
}

.App {
    padding-top: 140px;
}

.App-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: deepskyblue;
}

.site-link {
    color: white;
    text-decoration: none;
}
